<!DOCTYPE html>
<html>
<head>
    <title>Currency Converter</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
</head>
<body>

<center>{{{body}}}</center>

<center><img src="/images/all_the_monies_by_ikon95-d5qgvwe.png"></center>

    <hr>
    <a href="about">About this site</a>

</body>
</html>